<h2><%= link_to @recipe.first["label"], @recipe.first["url"] %></h2>
<p> <%="Favorite" if @recipe.first[:bookmarked] == true %> </p>

<%=  image_tag(@recipe.first["image"], alt: "photo of #{@recipe.first["label"]}")%>



<h4>Ingredients: </h4>
  <ul>
    <% @recipe.first["ingredientLines"].each do |ingredient| %>
      <li><p><%= ingredient %></p>  </li>
    <% end %>
  </ul>


<h4> Health Labels: </h4>
<ul>
  <% @recipe.first["healthLabels"].each do |health_label| %>
    <li><%= health_label %></li>
  <% end %>
</ul>
