<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Yummily" %></title>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans+Condensed:300" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
<article class="<%="this-i-want" if @background_image == true %>">
<header class="<%="this-i-dont-want" if @background_image == false %> <%="no-on-index" if @background_image == true %>">
  <h1 class="main-title <%="this-i-dont-want" if @background_image == false %> <%="no-on-index" if @background_image == true %>"> Yummily </h1>
  <nav>
    <ul class="menu <%="this-i-dont-want" if @background_image == false %> <%="no-on-index" if @background_image == true %>">
      <li><%= link_to "BACK TO SEARCH", root_path %></li>
    </ul>
  </nav>
</header>

    <%= yield %>


  <footer>
    <p class="footer-child edamam-logo"> Powered By: <%= link_to(image_tag('edamam-logo.png', alt: 'Edamam Logo'), "https://www.edamam.com/") %></p>
    <p class="footer-child copywrite">&copy; - Created by <%= link_to "Nina Mutty", "https://ninamutty.github.io/index.html" %> - 2016 </p>
  </footer>
</html>
</article>
