<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <p><%= link_to "Home", root_path %></p>
  </header>

  <main>
  <%= yield %>
  </main>

  <footer>
    <p>Attribute API</p>
  </footer>

</body>
</html>
